<a href="https://colab.research.google.com/github/AishaHarbi/Heart-Disease-classifier/blob/main/DATA_PREPROCESSING_SENIOR_DESIGN_PROJECT_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MySQL Connection

### Import necessary packages: mysql.connector and pandas for tables manipulation

In [ ]:
!pip3 install mysql-connector

Requirement already satisfied: mysql-connector in /usr/local/lib/python3.7/dist-packages (2.2.9)

In [ ]:
import mysql.connector
import pandas as pd

### Connect to the database via the user, password, host, and database name

In [ ]:
USER = 'u786735017_aisha'
PASSWORD = '2r!IV+yTz'
HOST = 'sql242.main-hosting.eu'
DATABASE_NAME = 'u786735017_HDclassifier'

In [ ]:
cnx = mysql.connector.connect(user=USER, password=PASSWORD,
                              host=HOST,
                              database=DATABASE_NAME)

In [ ]:
cursor = cnx.cursor()

### Fetch local data

In [ ]:
cursor.execute('SELECT * FROM `local_data_all_set`')

In [ ]:
LOCAL_DATA = cursor.fetchall()

#read the output into a dataframe 
LOCAL_DF = pd.DataFrame(LOCAL_DATA)

In [ ]:
LOCAL_DF

       0        1  ...       8          9
0   36.4   130/80  ...  506852
1   36.4   130/80  ...  506852
2   36.8   140/90  ...  508229  positive
3   36.8   140/90  ...  508229   postive
4   36.0   110/80  ...  512931
5   36.0   110/80  ...  512931
6   37.0   100/60  ...  515783
7   37.0   100/60  ...  515783
8   36.5   150/80  ...  516135
9   36.5   150/80  ...  516135
10  37.0   120/80  ...  518822
11  37.0   120/80  ...  518822
12  37.1  160/100  ...  520082
13  37.1  160/100  ...  520082
14  37.0    90/70  ...  521838
15  37.0    90/70  ...  521838
16  37.5   130/80  ...  526563
17  37.5   130/80  ...  526563
18  37.1    90/60  ...  532084
19  37.1    90/60  ...  532084
20  37.0   160/90  ...  535917
21  37.0   160/90  ...  535917
22  37.0   120/60  ...  538060
23  37.0   120/60  ...  538060
24  37.0   120/80  ...  539080
25  37.0   120/80  ...  539080
26  37.0   130/70  ...  543985
27  37.0   130/70  ...  543985
28  37.0   110/80  ...  545167
29  37.0   110/80  ...  545167
30  37.0   120/80  ...  547979
31  37.0   120/80  ...  547979
32  37.0   140/80  ...  553538
33  37.0   140/80  ...  553538
34  36.8   110/70  ...  554633
35  36.8   110/70  ...  554633
36  37.0   110/60  ...  555746
37  37.0   110/60  ...  555746
38  37.0   120/80  ...  557169
39  37.0   120/80  ...  557169
40  37.0    90/60  ...  558529
41  37.0    90/60  ...  558529

[42 rows x 10 columns]

### rename column header

In [ ]:
LOCAL_DF.columns = ['Temprature','BP','Blood (hematocrit)','Gender','Height','Weight','SAO2',
                   'Target','ID','Chest pain']

In [ ]:
LOCAL_DF

   Temprature       BP  ...      ID Chest pain
0        36.4   130/80  ...  506852
1        36.4   130/80  ...  506852
2        36.8   140/90  ...  508229  positive
3        36.8   140/90  ...  508229   postive
4        36.0   110/80  ...  512931
5        36.0   110/80  ...  512931
6        37.0   100/60  ...  515783
7        37.0   100/60  ...  515783
8        36.5   150/80  ...  516135
9        36.5   150/80  ...  516135
10       37.0   120/80  ...  518822
11       37.0   120/80  ...  518822
12       37.1  160/100  ...  520082
13       37.1  160/100  ...  520082
14       37.0    90/70  ...  521838
15       37.0    90/70  ...  521838
16       37.5   130/80  ...  526563
17       37.5   130/80  ...  526563
18       37.1    90/60  ...  532084
19       37.1    90/60  ...  532084
20       37.0   160/90  ...  535917
21       37.0   160/90  ...  535917
22       37.0   120/60  ...  538060
23       37.0   120/60  ...  538060
24       37.0   120/80  ...  539080
25       37.0   120/80  ...  539080
26       37.0   130/70  ...  543985
27       37.0   130/70  ...  543985
28       37.0   110/80  ...  545167
29       37.0   110/80  ...  545167
30       37.0   120/80  ...  547979
31       37.0   120/80  ...  547979
32       37.0   140/80  ...  553538
33       37.0   140/80  ...  553538
34       36.8   110/70  ...  554633
35       36.8   110/70  ...  554633
36       37.0   110/60  ...  555746
37       37.0   110/60  ...  555746
38       37.0   120/80  ...  557169
39       37.0   120/80  ...  557169
40       37.0    90/60  ...  558529
41       37.0    90/60  ...  558529

[42 rows x 10 columns]

### Fetch global data
#### SWISS DATA

In [ ]:

cursor.execute('SELECT * FROM `Swis_global`')

In [ ]:
SWISS_GLOBAL_DATA = cursor.fetchall()

#read the output into a dataframe 
SWISS_GLOBAL_DF = pd.DataFrame(SWISS_GLOBAL_DATA)

In [ ]:
SWISS_GLOBAL_DF

     0   1   2    3   4  5  6    7  8    9  10 11 12  13
0    32   1   1   95   0  ?  0  127  0  0.7  1  ?  ?   1
1    34   1   4  115   0  ?  ?  154  0  0.2  1  ?  ?   1
2    35   1   4    ?   0  ?  0  130  1    ?  ?  ?  7   3
3    36   1   4  110   0  ?  0  125  1    1  2  ?  6   1
4    38   0   4  105   0  ?  0  166  0  2.8  1  ?  ?   2
..   ..  ..  ..  ...  .. .. ..  ... ..  ... .. .. ..  ..
118  70   1   4  115   0  0  1   92  1    0  2  ?  7   1
119  70   1   4  140   0  1  0  157  1    2  2  ?  7   3
120  72   1   3  160   0  ?  2  114  0  1.6  2  2  ?   0
121  73   0   3  160   0  0  1  121  0    0  1  ?  3   1
122  74   1   2  145   0  ?  1  123  0  1.3  1  ?  ?   1

[123 rows x 14 columns]

### rename columns header

In [ ]:
SWISS_GLOBAL_DF.columns = ['age','sex','chest pain','trestbps','chol','fbs','restECG','thalach','exang','oldpeak'
                   ,'slope','ca','thal','target']

In [ ]:
SWISS_GLOBAL_DF

     age  sex  chest pain trestbps  chol  ... oldpeak slope ca thal target
0     32    1           1       95     0  ...     0.7     1  ?    ?      1
1     34    1           4      115     0  ...     0.2     1  ?    ?      1
2     35    1           4        ?     0  ...       ?     ?  ?    7      3
3     36    1           4      110     0  ...       1     2  ?    6      1
4     38    0           4      105     0  ...     2.8     1  ?    ?      2
..   ...  ...         ...      ...   ...  ...     ...   ... ..  ...    ...
118   70    1           4      115     0  ...       0     2  ?    7      1
119   70    1           4      140     0  ...       2     2  ?    7      3
120   72    1           3      160     0  ...     1.6     2  2    ?      0
121   73    0           3      160     0  ...       0     1  ?    3      1
122   74    1           2      145     0  ...     1.3     1  ?    ?      1

[123 rows x 14 columns]

#### CLEAVELAND DATA

In [ ]:
cursor.execute('SELECT * FROM `Cleveland_global`')

In [ ]:
CLEAVELAND_GLOBAL_DATA = cursor.fetchall()

#read the output into a dataframe 
CLEAVELAND_GLOBAL_DF = pd.DataFrame(CLEAVELAND_GLOBAL_DATA)

In [ ]:
CLEAVELAND_GLOBAL_DF

     0    1           2                                   3   ... 10 11 12   13
0        Sex  Chest pain  ?resting blood pressure?,cholestor  ...           NaN
1    63    1           1                                 145  ...  3  0  6  0.0
2    67    1           4                                 160  ...  2  3  3  2.0
3    67    1           4                                 120  ...  2  2  7  1.0
4    37    1           3                                 130  ...  3  0  3  0.0
..   ..  ...         ...                                 ...  ... .. .. ..  ...
299  45    1           1                                 110  ...  2  0  7  1.0
300  68    1           4                                 144  ...  2  2  7  2.0
301  57    1           4                                 130  ...  2  1  7  3.0
302  57    0           2                                 130  ...  2  1  3  1.0
303  38    1           3                                 138  ...  1  ?  3  0.0

[304 rows x 14 columns]

### Rename columns header

In [ ]:
CLEAVELAND_GLOBAL_DF.columns = ['age','sex','chest pain','trestbps','chol','fbs','restECG','thalach','exang','oldpeak'
                   ,'slope','ca','thal','target']

In [ ]:
CLEAVELAND_GLOBAL_DF

    age  sex  chest pain  ... ca thal target
0        Sex  Chest pain  ...            NaN
1    63    1           1  ...  0    6    0.0
2    67    1           4  ...  3    3    2.0
3    67    1           4  ...  2    7    1.0
4    37    1           3  ...  0    3    0.0
..   ..  ...         ...  ... ..  ...    ...
299  45    1           1  ...  0    7    1.0
300  68    1           4  ...  2    7    2.0
301  57    1           4  ...  1    7    3.0
302  57    0           2  ...  1    3    1.0
303  38    1           3  ...  ?    3    0.0

[304 rows x 14 columns]

In [ ]:
#delete first row 
CLEAVELAND_GLOBAL_DF = CLEAVELAND_GLOBAL_DF.iloc[1:]

In [ ]:
CLEAVELAND_GLOBAL_DF

    age sex chest pain trestbps chol fbs  ... exang oldpeak slope ca thal target
1    63   1          1      145  233   1  ...     0      2.     3  0    6    0.0
2    67   1          4      160  286   0  ...     1      1.     2  3    3    2.0
3    67   1          4      120  229   0  ...     1      2.     2  2    7    1.0
4    37   1          3      130  250   0  ...     0      3.     3  0    3    0.0
5    41   0          2      130  204   0  ...     0      1.     1  0    3    0.0
..   ..  ..        ...      ...  ...  ..  ...   ...     ...   ... ..  ...    ...
299  45   1          1      110  264   0  ...     0      1.     2  0    7    1.0
300  68   1          4      144  193   1  ...     0      3.     2  2    7    2.0
301  57   1          4      130  131   0  ...     1      1.     2  1    7    3.0
302  57   0          2      130  236   0  ...     0       0     2  1    3    1.0
303  38   1          3      138  175   0  ...     0       0     1  ?    3    0.0

[303 rows x 14 columns]

### merge global data (Swiss + Cleavland)